%h1 Log in

= form_tag sessions_path do
	.clearfix
		= label_tag :email
		%div.input
			= text_field_tag :email, params[:email]

	.clearfix
		= label_tag :password
		%div.input
			= password_field_tag :password

	.clearfix
		= label_tag :remember_me
		%div.input
			= check_box_tag :remember_me, 1, params[:remember_me]

	.actions
		= submit_tag "Log in"

