<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @bank.name %>
</p>

<p>
  <b>Abbr:</b>
  <%= @bank.abbr %>
</p>

<p>
  <b>Logo url:</b>
  <%= @bank.logo_url %>
</p>


<%= link_to 'Edit', edit_bank_path(@bank) %> |
<%= link_to 'Back', banks_path %>
