.page-header
	%h1 Advisors

.row
	.span16
		%ul#advisors_list
			- @advisors = Advisor.all
			- @advisors.each do |advisor|				
				%li					
					%span.advisor_name
						= link_to advisor.lastname + " " + advisor.firstname, advisor
						%span.bank_name
							= " from " + Bank.find(advisor.bank).name
					%span.advisor_rate
						- (advisor.average_rating_round).times do
							= image_tag "star.png"
					%span.view_comment{:class => 'pull-right'}
						- comments = advisor.comments.recent.limit(10).all
						= "View comments ( #{comments.count} )"
					.advisor_comments
						%ul
							- comments.each do |comment|
								%li
									= comment.comment
						%a{:class => 'btn primary pull-right btnAddComment', :id => 'advisor_click_'+advisor.id.to_s}
							= "Add comments"
						.clearfix

= render 'shared/comments', :locals => @advisors