<h1>Listing rates</h1>

<table>
  <tr>
    <th>Bank</th>
    <th>Category rate type</th>
    <th>Percent rate</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rates.each do |rate| %>
  <tr>
    <td><%= rate.bank_id %></td>
    <td><%= rate.category_rate_type_id %></td>
    <td><%= rate.percent_rate %></td>
    <td><%= link_to 'Show', rate %></td>
    <td><%= link_to 'Edit', edit_rate_path(rate) %></td>
    <td><%= link_to 'Destroy', rate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rate', new_rate_path %>
